@using EctoTec_3_1
@namespace EctoTec_3_1.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <img src="../img/green.jpg" alt="Alternate Text" />
    <br />
    <h3 style="text-align:justify">
        Hemos recibido sus datos y nos pondremos en contacto con usted a la brevedad posible.
        Enviaremos un correo con información a su cuenta
    </h3>
    <br />
    <h4>
        usuario.Email.ToString()
    </h4>
    <img src="" />
</body>
</html>
<img src="C:/Users/olive/source/repos/EctoTec_3_1/EctoTec_3_1/img/green.jpg" />